# Exclude all #
###############
/*

# Source Files #
################
!src/

# Description Files #
#####################
!LICENSE
!README.md

# Gradle Wrapper #
##################
!gradlew
!gradlew.bat
!gradle/

# Git Files #
#############
!.gitignore